<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApa7V90t1f_MK0n-amgagSRsvl2tefF4w</string>
	<key>GCM_SENDER_ID</key>
	<string>110085153420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventbn</string>
	<key>PROJECT_ID</key>
	<string>eventbn-9883c</string>
	<key>STORAGE_BUCKET</key>
	<string>eventbn-9883c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110085153420:ios:1bbf3d728b6a00a3d251a9</string>
</dict>
</plist>